<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Wishlist App</title>
<link rel="stylesheet" type="text/css" href="../css/styles.css">
<link href='https://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1> Check out your<nav>*wishlist*</nav>!</h1>
	<br>
	<ul><% for(var i = 0; i<response_data.results.length; i++){ %>
		<li><a href="/wishlist/etsy/<%=response_data.results[i].listing_id%>"> <%=response_data.results[i].title%></a></li>
		<br>
	<% } %>
	</ul>
	<br>
	<p class="note"> Note: The state of products are always active.</p>
</body>
</html>